
body {
    background-color: pink;
    text-align: center;
    font-size: 35px;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

h1 {
  font-size: 60px;
}
a:link {
    color: black;
  }

a:hover {
    color: darkgray;
  }

a:visited {
    color: black;
  }