body {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("https://wallpaperset.com/w/full/b/4/f/496124.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10px;
}

a:visited {
    color: black;
  }

a:link {
    color: black;
  }

a:hover {
    color: rgb(97, 159, 170);
  }

  

.title {
    font-size: 40px;
    color: darkgray;
    padding-top: 3px;
}
