html {
    background-color: ivory;
    
}

body {

    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    padding: 10px;

}

.parent {
    background-color: gray;
    margin: 10px;
    padding: 20px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:center;
    align-content: flex-start;
}
.div1 {
    margin: 20px;
    vertical-align: text-top;
}

.div2 {
    margin: 5px;
    width: 400px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.div3 {
    margin: 10px;
    width: 180px;
    height: 150px;
}

.div4 {
    margin: 10px;
    width: 150px;
    height: 150px;         
}

.div5 {
    margin: 5px;
    width: 200px;  
    float: left;         
}

.div6 {
    margin: 5px;
    width: 200px;
}